


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headerSection{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}
.title{
  font-size: 1rem;
  padding: 0px 10px;
}
.center ul li{
  list-style: none;
  display: inline-flex;
  margin: 0px 10px;

}
.left{
  flex: 4;
  
}
.center{
  flex: 5;
  
}
.search{
  flex: 2;
 
}
.search input{
  padding: 7px;
  width: 20rem;
}
.right{
  flex: 4;
  
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.bannerSction{
  margin: 10px 0px;
}
.bannerBox img{
  width: 100%;
}
.menImages{
  display: flex;
  gap: 10px;
}
.menImages img{
  width: 180px;
  height: 200px;
}